@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
/* Header */
.navbar{
    padding: 30px 100px;
    background: #fff !important;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #eee;
    z-index: 2;
}
.navbar-collapse{
    flex-grow: unset;
}
.nav-item{
    padding-inline: 10px;
    font-size: 18px;
}
.head-icon{
    display: flex;
    gap: 20px;
}
.head-icon a{
    text-decoration: none !important;
}
.head-icon a sup{
    color: #151411;
}
.head-icon img{
    width: 30px;
}

/* Banner */
.banner{
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    position: relative;
    overflow: hidden;
}
.banner .container-fluid h1::before{
    content: '';
    position: absolute;
    background: url('/images/Sketch-annotation-element-stroke-line-arrow-spiral-down-5.png') no-repeat;
    background-size: 50px;
    top: 50%;
    left: 50%;
    z-index: 999999999;

}
.banner .container-fluid{
    text-align: center;
    width: 55%;
    margin: auto;
}
.banner .container-fluid .arrow{
    position: absolute;
    left: 7%;
    bottom: -10%;
}
.banner .container-fluid .star--icon{
    position: absolute;
    right: 26%;
    top: 50%;
}
.banner .container-fluid .star--icon img{
    width: 80px;
    height: auto;
}
.banner .container-fluid h1{
    font-size: 64px;
    line-height: 74px;
    font-weight: 600;
    padding: 20px 0;
}

.banner .container-fluid p{
    color: #AFADB5;
    font-size: 18px;
    line-height: 34px;
    font-weight: 400;
}
.banner-form{
    width: 65%;
    margin: auto;
    background-color: #fff;
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    align-items: center;
    z-index: 1;
    position: relative;
}
.banner-form img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.banner-form form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.banner-form form input{
    outline: none;
    border: none;
    color: #AFADB5;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}
.banner-form form input[type=search]{
    width: 100%;
}
.banner-form input::placeholder{
    color: #AFADB5;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}
.banner-form input:focus{
    outline: none;
    box-shadow: none;
}
.banner-form form input[type='submit']{
    background-color: #518581;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 0;
}
.banner-container{
    padding: 0 100px 100px;
}
.banner-container .banner-img{
    margin-top: -3em;
}
.banner-container .banner-img img{
    width: 100%;
}

/* Footer */
.footer{
    padding: 70px 100px;
}
.left-side{
    padding-right: 16em;
}
.left-side p{
    padding-top: 40px;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    color: #AFADB5;
}
.right-side .row .col-md-4{
    display: flex;
    flex-direction: column;
}
.right-side .row .col-md-4 h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    color: #151411;
}
.right-side .row .col-md-4 a{
    text-decoration: none;
    color: #AFADB5;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    padding: 10px 0;
}
.benefits--section{
    padding: 100px 100px;
}
.top--content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18em;
    padding-bottom: 30px;
}
.orange--heading{
    font-size: 18px;
    color: #FFB23F;
    font-weight: 600;
    line-height: 24px;
}
.heading{
    font-size: 44px;
    color: #151411;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: .5px;
}
.para{
    color: #AFADB5;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    padding-top: 44px;
}
.btn{
    background-color: #518581;
    padding: 15px 40px;
    border-radius: 0;
    
}
.btn a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid #518581;
}
.btn:hover a{
    color: #518581;
}
.bottom--content{
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.bottom--content .benefits--cards{
    padding: 30px;
    box-shadow: 0px 4px 100px 0px #AFADB51A;
}
.bottom--content .benefits--cards img{
    width: 62px;
    height: 60px;
    padding: 15px;
    background: #F9F9F9;
    border-radius: 50%;
    margin-bottom: 20px;
}
.bottom--content .benefits--cards h3{
    color: #151411;
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 10px;
    font-weight: 600;
}

.bottom--content .benefits--cards p{
    font-size: 18px;
    line-height: 34px;
    color: #AFADB5;
}

/* Product */
.product--section{
    padding: 100px;
    text-align: center;
}

.product--slider{
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    gap: 30px;
    padding-top: 50px;
}
.product--slider::-webkit-scrollbar {
    display: none;
}
.product--section .para{
    width: 60%;
    margin: auto;
}
.product--slider .product--card{
    /* width: 400px !important; */
    margin-inline: 20px;
    text-align: left;
    height: 500px;
}
.product--slider .slick-prev{
    position: absolute;
    left: 2em;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    color: transparent;
    background-color: #15141199;
    border: none;
    padding: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 50%;
}
.product--slider .slick-next{
    position: absolute;
    right: 2em;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    color: transparent;
    background-color: #15141199;
    border: none;
    padding: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 50%;
}
.product--slider .slick-prev::before{
    content: '' !important;
    position: absolute;
    background-image: url('./images/arrow-left.png');
    background-size: 20px;
    background-repeat: no-repeat;
    left: 25%;
    top: 25%;
    width: 20px;
    height: 20px;
}
.product--slider .slick-next::before{
    content: '' !important;
    position: absolute;
    background-image: url('./images/arrow-right.png');
    background-size: 20px;
    background-repeat: no-repeat;
    left: 25%;
    top: 25%;
    width: 20px;
    height: 20px;
}
.product--section .product--card .procduct--card--img{
    height: 300px;
}
.product--section .product--card img{
    width: 100%;
    aspect-ratio: 5/4;
    height: 100%;
}
.product--section .product--card .product--card--info{
    height: 200px;
    position: relative;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
}
.product--section .product--card .product--card--info .category{
    font-size: 18px;
    color: #AFADB5;
    line-height: 23.4px;
    font-weight: 400;
}
.product--section .product--card h3{
    font-size: 24px;
    color: #151411;
    line-height: 33.8px;
    font-weight: 400;
    white-space: pre-line;
}
.product--section .product--card .product--card--info span{
    font-size: 18px;
    color: #AFADB5;
    line-height: 23px;
    font-weight: 400;
}
.product--section .product--card .product--card--info .d-flex{
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 2em;
    width: 100%;
}
.product--section .product--card .product--card--info .price{
    font-size: 26px;
    color: #151411;
    line-height: 34px;
    font-weight: 600;
    /* white-space: pre-line; */
    /* position: absolute; */
    /* bottom: 3.5em; */
    margin-bottom: 0;
}
.product--section .product--card .product--card--info a{
    /* position: absolute; */
    bottom: 3em;
    text-decoration: none;
    background: #518581;
    padding: 10px 30px;
    color: #fff;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
}
/* Crafted */
.crafetd--section{
    padding: 100px;
}
.crafetd--section .top--content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
    padding-bottom: 30px;
}
.crafetd--section .topright-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.crafetd--section .topright-content .number h4{
    font-size: 3.5em;
    font-weight: 400;
    line-height: 60px;
    color: #151411;
}
.crafetd--section .topright-content .number p{
    color: #AFADB5;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.5s;
}
.crafetd--section .crafetd--bottom--content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
    width: 100%;
}
.crafetd--section .crafetd--bottom--content .crafetd--cards {
    width: 100%;
}
.crafetd--section .crafetd--bottom--content .crafetd--cards p{
    color: #AFADB5;
    font-size: 18px;
    line-height: 32.4px;
    font-weight: 400;
}
.crafetd--section .crafetd--bottom--content .crafetd--cards .btn{
    margin: 20px 0;
}
.crafetd--section .crafetd--bottom--content .crafetd--cards img{
    padding-top: 30px;
    width: 100%;
    height: 300px;
}

/* Product Page Css */
.product-page-section {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
}

.content--heading {
    font-size: 64px;
    color: #151411;
    font-weight: 600;
    line-height: 74px;
}

.content--paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #AFADB5;
    width: 60%;
    margin: auto;
}

.product--page--slider--section {
    width: 100%;
    /* height: 600px; */
    overflow: hidden;
}

.product--page--slider--section .product-page-sliders .product-page-slider--card {
    height: 600px;
    position: relative;
}

.product--page--slider--section .product-page-sliders .product-page-slider--card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: linear-gradient(360deg, #151411 -21.38%, rgba(21, 20, 17, 0) 66.65%);
}

.product--page--slider--section .product-page-sliders .product-page-slider--card .product-page-content--info {
    position: absolute;
    left: 10em;
    bottom: 14em;
    z-index: 999;
    width: 500px;
}
.product-page-content--info a{
    text-decoration: none;
    padding: 10px 30px;
    background-color: #518581;
    color: #fff;
    font-size: 16px;
    line-height: 25.2px;
    font-weight: 400;
    border-radius: 10px;
}
.product-page-content--info h2{
    padding: 15px 0 0;
    color: #fff;
    font-size: 44px;
    line-height: 57.2px;
    font-weight: 600;
}
.product-page-content--info span{
    color: #FFFFFF;
    font-size: 24px;
    line-height: 31.2px;
    font-weight: 400;
}
.product--page--slider--section .product-page-sliders button.slick-prev {
    position: absolute;
    left: 2em;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    color: transparent;
    background-color: #15141199;
    border: none;
    padding: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 50%;
}

.product--page--slider--section .product-page-sliders button.slick-prev::before {
    content: '' !important;
    position: absolute;
    background-image: url('./images/arrow-left.png');
    background-size: 20px;
    background-repeat: no-repeat;
    left: 25%;
    top: 25%;
    width: 20px;
    height: 20px;
}

.product--page--slider--section .product-page-sliders button.slick-next {
    position: absolute;
    right: 2em;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    color: transparent;
    background-color: #15141199;
    border: none;
    padding: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 50%;
}

.product--page--slider--section .product-page-sliders button.slick-next::before {
    content: '' !important;
    position: absolute;
    background-image: url('./images/arrow-right.png');
    background-size: 20px;
    background-repeat: no-repeat;
    left: 25%;
    top: 25%;
    width: 20px;
    height: 20px;
}   
.product--page--slider--section .product-page-sliders .slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.product--page--slider--section .product-page-sliders .slick-dots li{
    margin-inline: 10px;
    cursor: pointer;
}
.product--page--slider--section .product-page-sliders .slick-dots li::marker{
    color: #15141199;
    font-size: 30px;
}
.product--page--slider--section .product-page-sliders .slick-dots li button{
    color: transparent;
    background: transparent;
    display: none;
    border: none;
}
.product--page--slider--section .product-page-sliders .slick-dots .slick-active::marker{
    color: #fff;
}
@media screen and (max-width: 768px) {
    .orange--heading{
        font-size: 18px;
        color: #FFB23F;
        font-weight: 600;
        line-height: 24px;
    }
    .heading{
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 0px;
    }
    .navbar{
        padding: 10px 20px;
    }
    .navbar-collapse{
        flex-grow: 1;
    }
    .navbar-toggler{
        border: none;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    .banner{
        height: 50vh;
        padding-top: 50px;
    }
    .banner .container-fluid{
        width: 100%;
        padding: 0 20px;
    }
    .banner .container-fluid p{
        font-size: 14px;
        line-height: 26px;
    }
    .banner .container-fluid .arrow{
        left: -4%;
        top: 28%;
        width: 100px;
    }
    .banner .container-fluid .star--icon{
        right: 8%;
        top: 37%;
        width: 40px;
    }
    .banner .container-fluid .arrow img, .banner .container-fluid .star--icon img{
        width: 100%;
    } 
    .banner .container-fluid h1{
        font-size: 26px;
        line-height: 34px;
    }
    .banner-container{
        padding: 0 20px;
    }
    .banner-form{
        width: 100%;
    }
    .banner-form form input, .banner-form form input[type='submit']{
        font-size: 14px;
        line-height: 20px;
    }
    .banner-form form input[type='submit']{
       padding: 10px 20px;
    }
    .banner-container .banner-img{
        margin-top: 2em;
    }
    .footer{
        padding: 40px 20px;
    }
    .left-side{
        padding-right: 0;
        padding-bottom: 20px;
    }
    .right-side .row .col-md-4{
        padding-bottom: 20px;
    }
    .benefits--section, .product--section, .crafetd--section{
        padding: 50px 20px;
    }
    .top--content{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .product--section .para{
        width: 100%;
        margin: auto;
    }
    .para{
        padding-top: 0;
        font-size: 14px;
        line-height: 24px;
    }
    .bottom--content{
        padding-top: 0px; 
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .bottom--content .benefits--cards h3{
        font-size: 16px;
        line-height: 30px;
        padding-bottom: 0;
    }
    .bottom--content .benefits--cards p{
        font-size: 14px;
        line-height: 26px;
    }
    .product--slider{
        gap: 5px;
    }
    .product--section .product--card .product--card--info span{
        white-space: pre-line;
        font-size: 14px;
        line-height: 18px;
    }
    .product--slider .product--card{
        height: 400px;
        margin-inline: 0;
    }
    .product--section .product--card .procduct--card--img{
        height: 300px;
    }
    .product--section .product--card .product--card--info{
        height: 100px;
        padding: 10px 0px;
    }
    .product--section .product--card h3{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 2px;
    }
    .product--section .product--card .product--card--info .d-flex{
        bottom: 0;
    }
    .product--section .product--card .product--card--info .price{
        font-size: 16px;
        line-height: 24px;
        white-space: pre-line;
        bottom: 3em;
        /* margin-bottom: 0.7rem; */
    }
    .product--section .product--card .product--card--info a{
        padding: 8px 20px;
        font-size: 12px;
        bottom: 1em;
    }
    .crafetd--section .top--content, .crafetd--section .crafetd--bottom--content{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .crafetd--right--cards img{
        width: 100%;
    }
    .crafetd--section .topright-content .number h4{
        font-size: 26px;
        line-height: 44px;
    }
    .crafetd--section .topright-content .number p{
        font-size: 14px;
        line-height: 24px;
    }
    .crafetd--section .crafetd--bottom--content .crafetd--cards p{
        font-size: 14px;
        line-height: 26px;
    }
    .crafetd--section .crafetd--bottom--content .crafetd--cards .btn{
        width: 100%;
    }
    .crafetd--section .top--content{
        padding-bottom: 10px;
    }
    .crafetd--section .crafetd--bottom--con tent .crafetd--cards .btn{
        margin: 10px 0;
    }
    .product-page-section{
        padding: 100px 20px 0;
        height: 30vh;
    }
    .content--heading{
        font-size: 26px;
        line-height: 33.8px;
    }
    .content--paragraph{
        width: 100%;
        font-size: 14px;
        line-height: 25.2px;
    }
    .product--page--slider--section .product-page-sliders .product-page-slider--card{
        height: 250px;
    }
    .product--page--slider--section .product-page-sliders .product-page-slider--card .product-page-content--info{
        left: 2em;
        bottom: 4em;
        width: 250px;
    }
    .product-page-content--info h2{
        font-size: 16px;
        line-height: 23.2px;
        margin: 0;
        padding: 10px 0 0;
    }
    .product-page-content--info span{
        font-size: 12px;
        line-height: 21.6px;
    }
    .product-page-content--info a{
        font-size: 10px;
        line-height: 13px;
        padding: 5px 15px;
    }
    .product--slider .slick-next{
        right: 0;
    }
    .product--slider .slick-prev{
        left: 0;
    }
    
    .footer hr{
        padding-bottom: 1em !important;
        margin-top: 0;
        color: #ECE4DE;
    }
    .left-side p{
        font-size: 14px;
        line-height: 25.2px;
    }
    .right-side .row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .right-side .row .col-md-4 h2{
        font-size: 16px;
        line-height: 20.8px;
    }
    .right-side .row .col-md-4 a{
        color:#AFADB5;
        font-size: 14px;
        line-height: 25.2px;
    }
}
#section{
    padding-top: 200px;
    margin-top: -200px;
}